body {
    background-color: white;
}

#console {
    position: absolute;
    top: 1%;
    left: 30%;
    width: 713px;
    height: 500px;
    border: 5px solid black;
    overflow: scroll;
    text-align: center;
}
